
body{
    background-color: black;
}

#container{
    background-color: white;
    color: black;
    /* Margin clears an area for the padding, border, and content*/
    margin-top: 20px;
/* padding puts extra space between the content and its border.
Content is whatever is contained inside the 3 other properties.*/
    padding: 20px;
    font-family:"Asap";
}
h1 {
  color: purple;
  text-transform: uppercase;
}
.button{
text-decoration:none;
color:purple;
border-width: 2px;
border-style: solid;
border-radius: 10px;
padding: 10px;


}

.left-col{
  float:left;
}
.clearfix{
  clear:both;
}
.hi{
  padding: 10px;
}
h3{
  padding:5;
}
.image{
  float:right;
}
